# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\csProject\OSC\cw\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
